@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
	--main-text-color: rgb(19, 18, 18);
  --section-title-color: rgba(37, 37, 37, 0.849);
  --main-bg: rgb(188, 250, 229);
  --link-hover-color: rgb(25, 25, 112);
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cv {
  width: 100vw;
  height: auto;
  background-color: var(--main-bg);
  font-size: 1em;
  font-family: "Roboto", "Arial", sans-serif;
}
.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 1280px;
  height: 900px;
  background-color: var(--main-bg);
  margin: 0 auto;
  padding: 15px;
}
.section {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid var(--main-text-color);
  padding: 15px;
  text-align: justify;
}
.section-title {
  position: absolute;
  top: -18px;
  left: 10px;
  display: block;
  background-color: var(--main-bg);
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  color: var(--section-title-color);
  text-transform: uppercase;
  z-index: 1000;
}
.cv-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.cv-naviagation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
}
.nav-link {
  font-size: 1.3em;
  font-size: 400;
  color: var(--main-text-color);
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  transition: color 0.5s ease;
  color: var(--link-hover-color);
  font-weight: 600;
}
.nav-link:active {
  color: var(--main-text-color);
}
.cv-presintation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 250px;
  margin-top: 16px;
}
.cv-img__container {
  width: 250px;
  height: 250px;
  border: 1px solid transparent;
  border-radius: 100%;
  overflow: hidden;
}
.cv-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: auto;
  height: 95px;
  border: 2px solid var(--main-text-color);
  border-right: 10px solid var(--main-text-color);
  padding: 5px;
}
.my-name {
  line-height: 42px;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.contact-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  min-height: 150px;
}
.contact-block-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 40px;
}
.contact-info {
  font-weight: 1.2em;
  letter-spacing: 1px;
}
.contact-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 40px;
  text-decoration: none;
  color: var(--main-text-color);
}
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  padding: 5px;
}
.mobile-svg,
.email-svg,
.linkedin-svg,
.telegram-svg {
  width: 100%;
  height: 100%;
}
.linkedin-svg {
  margin-bottom: 6px;
}
.mobile-svg path,
.email-svg path,
.linkedin-svg path,
.telegram-svg path {
  fill: var(--main-text-color);
}
